* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    background-color: #9b9bec;
    width: 100%;
    text-align: center;
}

#logo {
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: 40px;
    font-family: 'Georama', sans-serif;

}

.cabecalho a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Georama', sans-serif;
    color: white;
    margin: 0.5rem;
}

nav {
    padding: 1rem;
}


.introducao {
    background-color: #edc0f1;
    width: 100%;
    top: 9rem;
    text-align: center;
}

.introducao-title {
    text-align: center;
    font-size: 30px;
    font-family: 'Georama', sans-serif;
    padding: 2rem;
}


#introducao-text {
    font-size: 20px;
    font-family: 'Georama', sans-serif;
    line-height: 38px;
    text-align: center;
}

.foto-header {
    padding-bottom: 3rem;
    margin: 1rem;
    width: 580px;
    height: 350px;
}

.criacoes {
    background-color: #9b9bec;
    width: 100%;
    top: 44rem;
    text-align: center;
}

.criacoes-title {
    padding: 2rem;
    font-family: 'Georama', sans-serif;
}

#cobol {
    font-size: 20px;
    font-family: 'Georama', sans-serif;
    line-height: 38px;
    text-align: center;
}

.cobol-img {
    width: 500px;
    height: 400px;
    padding-top: 2rem;
}

.cobol-legend {
    font-family: 'Georama', sans-serif;
    padding-top: 0.5rem;
}

.Flow-Matic {
    width: 550px;
    height: 350px;
    padding-top: 2rem;
}

.Flow-legend {
    font-family: 'Georama', sans-serif;
    padding-top: 0.5rem;
}

.bug {
    font-size: 20px;
    font-family: 'Georama', sans-serif;
    line-height: 38px;
    text-align: center;
    padding: 1rem;
}

.bug-img {
    width: 550px;
    height: 350px;
    padding-top: 1rem;
}

.compilador {
    font-size: 20px;
    font-family: 'Georama', sans-serif;
    line-height: 38px;
    text-align: center;
    padding: 1rem;
}

.compilador-img {
    width: 500px;
    height: 380px;
    padding-top: 0.5rem;
    margin-bottom: 3rem;
}

footer {
    background-color: #edc0f1;
    width: 100%;
    top: 168.5rem;
    text-align: center;
    font-size: 20px;
    font-family: 'Georama', sans-serif;
    line-height: 38px;
    padding: 4rem;
}